<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!-- //banner -->
<div id="exampleSlider">
  <div><h3>변화를 만드는 정치! <span>헬정치 파괴술</span></h3></div>
  <div><h3>펀딩 사용설명서는 여기 있습니다 <span>내 손으로 만드는 변화</span></h3></div>
  <div><h3> 우리는 누구일까요? <span>청년정치, 청치를 소개합니다.</span></h3></div>
</div>

<div class="testimonials">
<div class="container">
 <h3 class="w3l_header w3_agileits_header"><span>후보자</span></h3>
		  <!-- <p class="sub_para_agile">Ipsum dolor sit amet consectetur adipisicing elit</p> -->
      <div class="agile_team_grids_top">

        <% if @candidates %>
          <% for cand in @candidates %>
    				<div class="col-md-4 w3_agile_services_grid">
    					<div class="agile_services_grid1 wthree_services_grid1">

    					</div>
    					<div class="agileits_w3layouts_services_grid1">
    						<div class="w3_agileits_services_grid1">
    							<div class="w3_agileits_services_grid1l">
                    <%= image_tag "#{cand.profile_img_id}.png", :alt => "", :class => "img-responsive"%>
    							</div>
    							<div class="w3_agileits_services_grid1r">
                    <p><%= cand.name %></p>
    							</div>
    							<div class="clearfix"> </div>
    						</div>
                <% for tag in cand.tags %>
    						  <h4><a href="#" data-toggle="modal" data-target="#myModal"><%= tag.title %></a></h4>
                <% end %>
    						<p><%= cand.description %></p>
    					</div>
    				</div>
          <% end %>
        <% end %>

				<div class="clearfix"> </div>
			</div>
		</div>
</div>
<!-- /flip -->
	<!-- <div class="w3_agile_timer"> -->
 	   	  <!--timer-->
						<!-- <div class="agileits-timer">
							<div class="main-title">
							<h4><p>Spend your money</p>It Save Tons of time</h4>
						     <div class="demo2"></div>
						</div>
						</div> -->

						<!--//timer-->


	<!-- </div> -->
<!-- //flip -->
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="signin-form profile">
						<h3 class="agileinfo_sign">Funding</h3>
					<div class="modal-body">
            <%= image_tag "g1.jpg", :alt => "", :class => "img-responsive"%>
						<!-- <img src="images/g1.jpg" alt=" " class="img-responsive" /> -->
						<p>Ut enim ad minima veniam, quis nostrum
							exercitationem ullam corporis suscipit laboriosam,
							nisi ut aliquid ex ea commodi consequatur? Quis autem
							vel eum iure reprehenderit qui in ea voluptate velit
							esse quam nihil molestiae consequatur, vel illum qui
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit
								esse quam nihil molestiae consequatur.</i></p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->
<!-- gallery -->
	<div class="gallery">
	     	      <h3 class="w3l_header w3_agileits_header">Latest <span>Gallery</span></h3>
		  <p class="sub_para_agile">Ipsum dolor sit amet consectetur adipisicing elit</p>
		  	<div class="agile_team_grids_top">
		<ul id="flexiselDemo1">
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g1.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
              <%= image_tag "g1.jpg", :alt => "", :class => "img-responsive"%>
							<!-- <img src="images/g1.jpg" alt="" class="img-responsive" /> -->
							<div class="mask">
								<p>Funding</p>
							</div>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g2.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
              <%= image_tag "g2.jpg", :alt => "", :class => "img-responsive"%>
							<!-- <img src="images/g2.jpg" alt="" class="img-responsive" /> -->
							<div class="mask">
								<p>Funding</p>
							</div>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g3.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
              <%= image_tag "g3.jpg", :alt => "", :class => "img-responsive"%>
							<!-- <img src="images/g3.jpg" alt="" class="img-responsive" /> -->
							<div class="mask">
								<p>Funding</p>
							</div>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g4.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
              <%= image_tag "g4.jpg", :alt => "", :class => "img-responsive"%>
							<!-- <img src="images/g4.jpg" alt="" class="img-responsive" /> -->
							<div class="mask">
								<p>Funding</p>
							</div>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g5.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
              <%= image_tag "g5.jpg", :alt => "", :class => "img-responsive"%>
							<!-- <img src="images/g5.jpg" alt="" class="img-responsive" /> -->
							<div class="mask">
								<p>Funding</p>
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- //gallery -->
<!-- //bootstrap-pop-up -->

</body>
</html>
