<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @candidate.description %>
</p>

<p>
  <strong>Youtube url:</strong>
  <%= @candidate.youtube_url %>
</p>

<p>
  <strong>Like count:</strong>
  <%= @candidate.like_count %>
</p>

<p>
  <strong>Support count:</strong>
  <%= @candidate.support_count %>
</p>

<p>
  <strong>Profile img:</strong>
  <%= @candidate.profile_img_id %>
</p>

<p>
  <strong>Header img:</strong>
  <%= @candidate.header_img_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @candidate.category_id %>
</p>

<p>
  <strong>Region:</strong>
  <%= @candidate.region_id %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
